$prefix: "" !default;
//^ Theme Colors
$primary:       #B12226 !default;
$secondary:     #f6b93b !default;
$tertiary:      #92a5d1 !default;
$success:       #00ee88 !default;
$info:          #5bc4ff !default;
$warning:       #ffbf43 !default;
$danger:        #f94e4e !default;
$light:         #f1f3f5 !default;
$dark:          #1c1f26 !default;

//^ Heading Font Family
// $headings-font-family:        "Cinzel", serif !default;

//^ Body Font Family
$font-family-base:            "DM Sans", sans-serif !default;