/* Slick Slider */
.slick-list.draggable {
    cursor: grab;
}
.slick-list.draggable:active {
    cursor: grabbing;
}
.slick-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}
.slick-pagination button {
    display: none;
}
.slick-pagination li {
    width: 8px;
    height: 8px;
    border-radius: 2rem;
    background: var(--#{$prefix}tertiary-bg);
    cursor: pointer;
    transition: all 0.2s ease;
}
.slick-pagination li.slick-active {
    background: var(--#{$prefix}primary);
    width: 24px;
    cursor: default;
}
.slick-pagination li:not(.slick-active):hover {
    background: var(--#{$prefix}primary-300);
}
.slick-track {
    padding: 1rem 0;
    display: flex !important;
    height: auto;
}
.slick-track .slick-slide {
    height: auto;
}
.slick-arrow {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 30px;
    transform: translateY(-70%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem;
    font-size: 1.25rem;
    border: 0;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.2s ease;
}
.slick-arrow:hover {
    opacity: 1 !important;
}
[class*="slick-next-"] {
    right: 30px;
    left: auto;
}
.slick-slider:hover [class*="slick-prev-"] {
    left: 0;
    opacity: .75;
}
.slick-slider:hover [class*="slick-next-"] {
    right: 0;
    left: auto;
}