
<div class="text-center mb-3">
    <strong class="h4 d-block mb-0">ASEAN INVESTMENT FORUM</strong>
    <strong class="h6 d-block mb-0">“Investments for Sustainable Development”</strong>
    <span>September 2nd, 2023 at Sultan Hotel, Jakarta, Indonesia</span>
</div>
<div class="table-responsive">
    <table class="table table-bordered border-primary bg-white">
        <thead>
            <tr>
                <th scope="row" colspan="2" class="text-center align-middle text-bg-primary">TENTATIVE PROGRAMME</th>
            </tr>
        </thead>
        <tbody>
            <!-- Highight -->
            <tr>
                <td scope="row" colspan="2" class="text-center align-middle bg-primary-subtle"><strong>High Level Segment</strong><br><em>(Entire morning session will be ministerial level, focusing more on investment policies and the investment environment in ASEAN. This will set the tone for the discussions on investment opportunities later in the day.)</em></td>
            </tr>
            <!-- Even : Welcoming Remarks -->
            <tr>
                <td class="text-center is-session-name" width="20%"><strong>Opening Session</strong></td>
                <td class="is-session-title"><strong>Welcoming Remarks</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>09:00 – 09:15</strong>
                    <br>
                    (15 minutes)
                </td>
                <td>
                    <ul>
                        <li>
                            <strong class="text-primary">H.E. Dr. Kao Kim Hourn</strong>, Secretary-General of ASEAN
                        </li>
                        <li>
                            <strong class="text-primary">H.E. Dr. Armida Salsiah Alisjahbana</strong>, Executive Secretary, ESCAP
                        </li>
                        <li>
                            <strong class="text-primary">M. Arsjad Rasjid P.M.</strong>, ASEAN Business Advisory Council (ABAC) Chair
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- Even : High Level Segment: Keynote Speech -->
            <tr>
                <td class="text-center is-session-name" width="20%">&nbsp;</td>
                <td class="is-session-title"><strong>Keynote Speech</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>09:15 – 09:35</strong>
                    <br>
                    (20 minutes)
                </td>
                <td>
                    <ul>
                        <li>
                            <strong class="text-primary">H.E. Bahlil Lahadalia</strong>, Minister of Investment/Chairman of Indonesia Investment Coordinating Board (BKPM)
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- Even : FDI and Impact Investment for Sustainable Development -->
            <tr>
                <td class="text-center is-session-name" width="20%"><strong>Session 1</strong></td>
                <td class="is-session-title"><strong>FDI and Impact Investment for Sustainable Development</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>09:35 – 10.35</strong>
                    <br>
                    (60 minutes)
                </td>
                <td>
                    <p>This session will discuss the priorities of ASEAN Member States toward SDGs and how it affects their strategy in attracting FDI and encouraging impact investment. This will also look into how AMS are strengthening their policy environment to attract sustainable and impact investment.</p>
                    <strong>Panelists</strong>
                    <ul>
                        <li>
                            <strong class="text-primary">H.E. Dato Dr. Amin Liew Abdullah</strong>, Minister at the Prime Minister’s Office and Minister of Finance and Economy II, Brunei Darussalam
                        </li>
                        <li>
                            <strong class="text-primary">H.E. Tengku Datuk Seri Utama Zafrul Bin Tengku Abdul Aziz</strong>, Minister of Investment, Trade and Industry, Malaysia
                        </li>
                        <li>
                            <strong class="text-primary">Sonklin Ploymee</strong>, Deputy Secretary General of Board of Investment, Thailand
                        </li>
                        <li>
                            <strong class="text-primary">Dr. Rupa Chanda</strong>, Director, Trade, Investment and Innovation Division, ESCAP
                        </li>
                    </ul>
                    <strong>Moderator: Yudith Ho</strong>, Bloomberg
                </td>
            </tr>
            <!-- Break Coffee 1 -->
            <!-- <tr class="bg-secondary-subtle">
                <td class="text-center" width="20%">
                    <strong>10:35 – 11:00</strong>
                    <br>
                    (25 minutes)
                </td>
                <td>
                    Coffee Break 1
                </td>
            </tr> -->
            <!-- Even : Global Supply Chain and Sustainable Investment -->
            <tr>
                <td class="text-center is-session-name" width="20%"><strong>Session 2</strong></td>
                <td class="is-session-title"><strong>Global Supply Chain and Sustainable Investment</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>11:00 – 11:45</strong>
                    <br>
                    (45 minutes)
                </td>
                <td>
                    <p>This session will discuss current trends in global supply chain and how this can encourage sustainable investments. ASEAN Member States may share their general approach towards responding to the changes in global supply chains and how the policy environment encourages links between lead suppliers and domestic firms.</p>
                    <strong>Panelists</strong>
                    <ul>
                        <li>
                            <strong class="text-primary">H.E. Alfredo E. Pascual</strong>, Secretary of Department of Trade and Industry, Philippines
                        </li>
                        <li>
                            <strong class="text-primary">Nguyen Anh Tuan</strong>, Deputy Director General, Foreign Investment Agency, Ministry of Planning and Investment, Viet Nam
                        </li>
                        <li>
                            <strong class="text-primary">Dr. Lili Yan Ing</strong>, ERIA
                        </li>
                    </ul>
                    <strong>Moderator: Yudith Ho</strong>, Bloomberg
                </td>
            </tr>
            <!-- Break Lunch -->
            <tr class="bg-secondary-subtle">
                <td class="text-center" width="20%">
                    <strong>11:45 – 13:00</strong>
                    <br>
                    (75 minutes)
                </td>
                <td>
                    Lunch
                </td>
            </tr>
            <!-- Highight -->
            <tr>
                <td scope="row" colspan="2" class="text-center align-middle"><strong>Investment Opportunities in ASEAN Segment</strong><br><em>(Sector-specific and will focus on introducing investible opportunities. IPAs and investors will be speakers)</em></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>13:00 – 13:05</strong>
                    <br>
                    (5 minutes)
                </td>
                <td>
                    <strong>Introductory Remarks</strong>
                    <p>This will briefly introduce and give context to the morning session which is focused on investment opportunities</p>
                    <strong class="text-primary">Jonathan Wong</strong>, Chief, Trade, Investment and Innovation Division, ESCAP
                </td>
            </tr>
            <!-- Even : Investment Opportunities in Electric Vehicles -->
            <tr>
                <td class="text-center is-session-name" width="20%"><strong>Session 3</strong></td>
                <td class="is-session-title"><strong>Investment Opportunities in Electric Vehicles</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>13:05 – 14:05</strong>
                    <br>
                    (60 minutes)
                </td>
                <td>
                    <p>This session will highlight the growing electronic vehicles industry in the region and explore investment opportunities therein.</p>
                    <strong>Panelists</strong>
                    <ul>
                        <li>
                            <strong class="text-primary">Nurul Ichwan</strong>, Deputy Chairman for Investment Promotion, Ministry of Investment/Indonesia Investment Coordinating Board (BKPM)
                        </li>
                        <li>
                            <strong class="text-primary">Sonklin Ploymee</strong>, Deputy Secretary General of Board of Investment, Thailand
                        </li>
                        <li>
                            <strong class="text-primary">Dr. Sar Senera</strong>, Director, Cambodian Investment Board/Council for the Development of Cambodia (CDC)
                        </li>
                        <li>
                            <strong class="text-primary">David Fernando Audy</strong>, Operating Partner, East Ventures
                        </li>
                        <li>
                            <strong class="text-primary">Pulkit Srivastava</strong>, Co-Founder, EVage
                        </li>
                    </ul>
                    <strong>Moderator: Eko Listiyorini,</strong>, Bloomberg
                </td>
            </tr>
            <!-- Even : Investment Opportunities in Renewable Energy -->
            <tr>
                <td class="text-center is-session-name" width="20%"><strong>Session 4</strong></td>
                <td class="is-session-title"><strong>Investment Opportunities in Renewable Energy</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>14:05 – 15:05</strong>
                    <br>
                    (60 minutes)
                </td>
                <td>
                    <p>This session will look at the renewable energy landscape in ASEAN and opportunities for investment.</p>
                    <strong>Panelists</strong>
                    <ul>
                        <li>
                            <strong class="text-primary">Datuk Wira Arham Abdul Rahman</strong>, Chief Executive Officer, Malaysia Investment Development Authority (MIDA)
                        </li>
                        <li>
                            <strong class="text-primary">Nguyen Anh Tuan</strong>, Deputy Director General, Foreign Investment Agency, Ministry of Planning and Investment, Viet Nam
                        </li>
                        <li>
                            <strong class="text-primary">Muhammad Firdaus Abdul Kadir</strong>, Senior Manager at the FDI Action and Support Centre (FAST), Brunei Economic Development Board (BEDB)
                        </li>
                        <li>
                            <strong class="text-primary">Raquel Echague</strong>, Director, Board of Investments, Philippines
                        </li>
                        <li>
                            <strong class="text-primary">Kamen Palatov</strong>, Director and Chief of Portfolio Officer, Indika Nature
                        </li>
                        <li>
                            <strong class="text-primary">Dushyant Thakor</strong>, Deputy Executive Director, WAIPA
                        </li>
                    </ul>
                    <strong>Moderator: David Doherty</strong>, Bloomberg
                </td>
            </tr>
            <!-- Break Coffee 2 -->
            <!-- <tr class="bg-secondary-subtle">
                <td class="text-center" width="20%">
                    <strong>15.05 – 15.25</strong>
                    <br>
                    (20 minutes)
                </td>
                <td>
                    Coffee Break 2
                </td>
            </tr> -->
            <!-- Even : Investment Opportunities in Health Systems -->
            <tr>
                <td class="text-center is-session-name" width="20%"><strong>Session 5</strong></td>
                <td class="is-session-title"><strong>Investment Opportunities in Health Systems</strong></td>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>15.25 – 16.25</strong>
                    <br>
                    (60 minutes)
                </td>
                <td>
                    <p>This session will look at investment opportunities in relation to preparedness in case of future health crises (e.g., post-COVID recovery and building back better).</p>
                    <strong>Panelists</strong>
                    <ul>
                        <li>
                            <strong class="text-primary">Thant Sin Lwin</strong>, Director General of the Directorate of Investment and Company Administration, Ministry of Investment and Foreign Economic Relations, Myanmar
                        </li>
                        <li>
                            <strong class="text-primary">Thavichanh Thiengthepvongsa</strong>, Deputy Director General of Investment Promotion Department, Ministry of PIanning and Investment, Lao PDR
                        </li>
                        <li>
                            <strong class="text-primary">Vidjongtius</strong>, President Director and CEO, Kalbe Farma
                        </li>
                        <li>
                            <strong class="text-primary">Shyatto Raha</strong>, Founder and CEO, MyHealthcare
                        </li>
                    </ul>
                    <strong>Moderator: Nitin Jaiswal</strong>, Bloomberg
                </td>
            </tr>
            <!-- Closing Session -->
            <tr>
                <th scope="row" colspan="2" class="text-center align-middle text-bg-primary">Closing Session</th>
            </tr>
            <!-- Odd -->
            <tr class="bg-primary-subtle">
                <td class="text-center" width="20%">
                    <strong>16:25 – 16.30</strong>
                    <br>
                    (5 minutes)
                </td>
                <td>
                    <strong class="text-primary">Dr. Riyatno</strong>, Deputy Chairman for Investment Cooperation of the Ministry of Investment/Indonesia Investment Coordinating Board (BKPM)
                </td>
            </tr>
        </tbody>
    </table>
</div>